.product-page__info {
    padding: 0 $standardColumnGutters;
}

.product-page__controls {
    @include flex-wrapper;
    margin: $standardElementMarginHorizontal 0;

    > *:first-child {
        flex-grow: 1;
    }
}