// product page
.product-page main {
    padding-top: $mainHeaderHeightMobile;
}

.product-photo {
    position: relative;
}
.back-to-category {

}

// slider
.slider-control-wrapper {
    text-align: center;
}