// Text
$mainTextColor: #7d7976;
$mainTextColorDark: #252423;
$mainTextColorLight: #ffffff;

// Borders and box-shadows
$mainBorderColor: #e2dad3;

// Buttons
$buttonDefaultBackgroundColor: #f4f3f1;
$buttonEmptyBackgroundColor: #ffffff;
$sliderControlInactive: #D5D3CF;
$sliderControlActive: #252423;

// Links
$standardLinkColor: #7d7c7a;