// elements
$mainHeaderHeightMobile: 50px;

// icons
$iconOnButtonSize: 1.5em;
$iconOnEmptyButtonSize: $iconOnButtonSize * .75;
$iconOnButtonDistanceFromEdge: $iconOnButtonSize * .25;

//buttons
$buttonEmptySize: 1.5em;
$buttonWithIconSidePadding: $iconOnButtonSize + 2 * $iconOnButtonDistanceFromEdge;

//spacing
$standardColumnGutters: 1rem;
$standardRowGutters: 1.2rem;
$standardElementPaddingVertical: .35rem;
$standardElementPaddingHorizontal: .5rem;
$standardElementPadding: $standardElementPaddingVertical $standardElementPaddingHorizontal;
$standardElementMarginVertical: .35rem;
$standardElementMarginHorizontal: .5rem;
$standardElementMargin: $standardElementMarginVertical $standardElementMarginHorizontal;