// elements
$mainHeaderHeightMobile: 50px;
$emptyButtonSize: 1.5rem;
$iconsOnButtonsSize: 1.5rem;
$iconsOnEmptyButtonsSize: $iconsOnButtonsSize * .75;

//spacing
$standardColumnGutters: 1rem;
$standardRowGutters: 1.5rem;
$standardElementPadding: .35rem .5rem;