body {
    font: $mainFontProperty;
    color: $mainTextColor;
}

main {
    padding-top: $mainHeaderHeightMobile;
}

figure img {
    width: 100%;
    height: auto;
}

a[href] {
    color: $standardLinkColor;
    text-decoration: none;
}

@each $iconName in $allSvgIcons {
    .icon__#{$iconName}:after {
        background-image: url($pathToSvg + $iconName + '.svg');
    }
}

@each $iconName in $allPngIcons {
    .icon__#{$iconName}:after {
        background-image: url($pathToImages + $iconName + '.png');
    }
}