@mixin centerAbsoluteElement($top: initial, $right: initial, $bottom: initial, $left: initial) {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    margin: auto;
}

@mixin flex-wrapper() {
    display: flex;
    flex-direction: row;
    justify-content: center;
}